<launch>
  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find coslam)/gazebo/worlds/no_roof_small_warehouse.world"/> -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
  </include>

  <arg name="config0_id" default="0"/>
  <include file="$(find coslam)/launch/jackal_cam/jackal_base.launch">
    <arg name="ns"            value="jackal"/>
    <arg name="x"            value="0"/>
    <arg name="z"            value="0.5"/>
    <arg name="yaw"            value="3.14"/>
    <arg name="config_id"     value="$(arg config0_id)"/>
  </include>
  
</launch>
