<launch>
  <arg name="cam_px"        default="0"/>
  <arg name="cam_py"        default="0"/>
  <arg name="cam_pz"        default="3"/>
  <arg name="imu_visual"    default="true">

  <arg name="model" default="$(find coslam)/gazebo/models/robot/model.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py  $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>
  <!-- -cam_px $(arg cam_px) -cam_pt $(arg cam_py) -cam_pz $(arg cam_pz) -imu_visual $(arg imu_visual) -param -->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>

