<launch>
  <arg name="PI"  default="3.14"/>
  <arg name="PI_2"  default="1.57"/>
  <arg name="PI_4_3"  default="2.3562"/>
  <arg name="PI_4"  default="0.7854"/>

  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find coslam)/gazebo/worlds/empty.world"/> -->
    <arg name="world_name" value="$(find coslam)/gazebo/worlds/simple_warehouse.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
  </include>

  <include file="$(find coslam)/launch/small_robot/robot_base.launch">
    <arg name="ns"            value="robot"/>
    <arg name="x_pos"            value="0"/>
    <arg name="y_pos"            value="0.5"/>
    <arg name="z_pos"            value="0"/>
    <arg name="yaw"            value="3.14"/>
  </include>

  <arg name="ns0"        default="rgb0"/>
  <include file="$(find coslam)/launch/rgb.launch">
    <arg name="ns"           value="$(arg ns0)"/>
    <arg name="x"            value="4.6"/>
    <arg name="y"            value="10"/>
    <arg name="z"            value="7"/>
    <arg name="cam_roll"     value="0"/>
    <arg name="cam_pitch"    value="$(arg PI_4)"/>
    <arg name="cam_yaw"      value="0"/>
    <arg name="base_yaw"     value="-$(arg PI_4_3)"/>
  </include>

  <!-- <arg name="ns1"        default="rgb1"/>
  <include file="$(find coslam)/launch/rgb.launch">
    <arg name="ns"           value="$(arg ns1)"/>
    <arg name="x"            value="5"/>
    <arg name="y"            value="-5"/>
    <arg name="z"            value="10"/>
    <arg name="roll"         value="1.57"/>
    <arg name="pitch"        value="1.57"/>
    <arg name="floorheight" value="0.5"/>
  </include>

  <arg name="ns2"        default="rgb2"/>
  <include file="$(find coslam)/launch/rgb.launch">
    <arg name="ns"           value="$(arg ns2)"/>
    <arg name="x"            value="-5"/>
    <arg name="y"            value="-5"/>
    <arg name="z"            value="10"/>
    <arg name="roll"         value="1.57"/>
    <arg name="pitch"        value="1.57"/>
    <arg name="floorheight" value="0.5"/>
  </include>

  <arg name="ns3"        default="rgb3"/>
  <include file="$(find coslam)/launch/rgb.launch">
    <arg name="ns"           value="$(arg ns3)"/>
    <arg name="x"            value="-5"/>
    <arg name="y"            value="5"/>
    <arg name="z"            value="10"/>
    <arg name="roll"         value="1.57"/>
    <arg name="pitch"        value="1.57"/>
    <arg name="floorheight" value="0.5"/>
  </include> -->

</launch>
